services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      gunicorn app.main:main_app
      --bind 0.0.0.0:8000
      --access-logfile -
      --workers 2
      --worker-class uvicorn.workers.UvicornWorker
      --reload
    ports:
      - "8000:8000"
    volumes:
      - ./certs:/project/certs
      - ./custom_scripts:/project/app/custom_scripts
      - ./custom_functions:/project/app/custom_functions
    environment:
      XLWINGS_LICENSE_KEY: noncommercial
      XLWINGS_ENVIRONMENT: dev
      XLWINGS_ENABLE_SOCKETIO: true
      XLWINGS_ENABLE_WATCHDOG: true
